{% extends 'chickens/base.html' %}
{% block content %}

<h1>Chicken Details</h1>

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ chicken.name }}</h5>
                <p>Breed: {{ chicken.breed }}</p>
                <p>Description: {{ chicken.description | linebreaks }}</p>
                {% if chicken.age > 0 %}
                    <p>Age: {{ chicken.age }}</p>
                {% else %}
                    <p>Age: Chick</p>
                {% endif %}
            </div>
            <div class="card-footer">
                <a href="{% url 'chickens_update' chicken.id %}" class="card-link">Edit</a>
                <a href="{% url 'chickens_delete' chicken.id %}" class="card-link">Delete</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <form action="{% url 'add_laying' chicken.id %}" method="POST">
            {% csrf_token %}

            <table class="table table-info">
                {{ laying_form.as_table }}
            </table>
            <input type="submit" class="btn btn-primary" value="Add Laying">
        </form>
        <table class="table table-striped">
            <thead>
                <tr><th>Date</th><th>Time of Day</th></tr>
            </thead>
            <tbody>
                {% for laying in chicken.laying_set.all %}
                    <tr>
                        <td>{{laying.date}}</td>
                        <td>{{laying.get_time_display}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-6">
        <h3>{{ chicken.name }}'s Snacks</h3>
        {% if chicken.snacks.count %}
            {% for snack in chicken.snacks.all %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            A {{ snack.amount }} of {{ snack.name }}
                        </h4>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>No Snacks 🐥</h5>
        {% endif %}
    </div>
    <div class="col-sm-6">
        <h3>Available Snacks</h3>
        {% if snacks.count %}
            {% for snack in snacks.all %}
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">
                            A {{ snack.amount }} of {{ snack.name }}
                        </h4>
                    </div>
                    <div class="card-footer">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h5>{{chicken.name}} Already Has All Toys Available</h5>
        {% endif %}
    </div>
</div>

{% endblock %}